<!DOCTYPE HTML>
<html>

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  {% if config.extra.favicon %}
  <link rel="icon" href="{{ config.extra.favicon | safe }}">
  {% endif %}

  {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">

    {% if config.extra.katex_enable %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    {% endif %}
  {% endblock css %}

  {% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>

    {% if config.extra.katex_enable %}
      <!-- The loading of KaTeX is deferred to speed up page rendering -->
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.js" integrity="sha384-VQ8d8WVFw0yHhCk5E8I86oOhv48xLpnDZx5T9GogA/Y84DcCKWXDmSDfn13bzFZY" crossorigin="anonymous"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/mathtex-script-type.min.js" integrity="sha384-jiBVvJ8NGGj5n7kJaiWwWp9AjC+Yh8rhZY3GtAX8yU28azcLgoRo4oukO87g7zDT" crossorigin="anonymous"></script>
      {% if config.extra.katex_auto_render %}
        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
      {% endif %}
    {% endif %}
  {% endblock js %}

  {% endblock head %}
</head>

<body>

  <main>

    {% block nav %}

    <nav>
      {% if config.extra.logo %}
      {% if current_path == "/" %}
      <img src="{{ config.extra.logo | safe }}" alt="" />

      {% else %}<a href="{{ config.base_url }}">
        <img src="{{ config.extra.logo | safe }}" alt="" />
      </a>
      {% endif %}

      {% else %}
      <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
      {% endif %}

      {% if config.extra.release %}
      <div id="release"></div>
      {% endif %}

      <a href="javascript:void(0);" onclick="burger()" id="mobile" class="ms-Icon--GlobalNavButton"></a>
      <div id="trees">
        {% set section = get_section(path="_index.md") %}
        {% for p in section.subsections %}
        {% set subsection = get_section(path=p) %}


        <input class="tree-toggle" type="checkbox" id="{{ subsection.title | slugify  }}" {% if current_path is starting_with(subsection.path) %}checked{% endif %} />
        <label class="tree-toggle-label" for="{{ subsection.title | slugify  }}">{{ subsection.title }}</label>

        <ul class="subtree">
          {% for p2 in subsection.subsections %}
          <div style="margin-left:1em;">
            {% set subsection2 = get_section(path=p2) %}
            <input class="tree-toggle" type="checkbox" id="{{ subsection2.title | slugify  }}" {% if current_path is starting_with(subsection2.path) %}checked{% endif %} />
            <label class="tree-toggle-label" for="{{ subsection2.title | slugify  }}">
              {{ subsection2.title }}
            </label>
            <ul class="subtree">
              {% for page2 in subsection2.pages %}
              <li {% if current_path == page2.path %}class="active" {% endif %}>
                <a href="{{page2.permalink | safe }}">{{page2.title}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
          {% for page in subsection.pages %}
          <li {% if current_path == page.path %}class="active" {% endif %}>
            <a href="{{page.permalink | safe }}">{{page.title}}</a>
          </li>

          {% if page.toc %}

            {% if current_path == page.path %}

              {% set_global header_count = 0 %}
              {% for h2 in page.toc %}
                {% set_global header_count = header_count + 1 %}
                {% for h3 in h2.children %}
                  {% set_global header_count = header_count + 1 %}
                  {% for h4 in h3.children %}
                    {% set_global header_count = header_count + 1 %}
                  {% endfor %}
                {% endfor %}
              {% endfor %}

              {% if header_count > 4 %}
              <ul id="toc">
                {% for h2 in page.toc %}
                <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                  {% if h2.children %}
                  <ul>
                    {% for h3 in h2.children %}
                      <li><a href="{{ h3.permalink | safe }}">{{ h3.title }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
              {% endif %}

            {% endif %}
          {% endif %}
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </nav>
    {% endblock nav %}

    <article>

      {% if config.build_search_index %}
      <div id="on_right">
        <span id="search-ico" class="ms-Icon--Search"></span>
      </div>
      <div class="search-container">
        <input id="search" type="search" placeholder="Search as you type...">
        <div class="search-results">
          <div class="search-results__header"></div>
          <ul class="search-results__items"></ul>
        </div>
      </div>
      {% endif %}

      <div id="wrap">
        {% block content %}
        {{ section.content | safe }}
        {% endblock content %}
      </div>

    </article>
  </main>

  {% if config.build_search_index %}
  <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") | safe }}" defer></script>
  <script type="text/javascript" src="{{ get_url(path="search_index.en.js") | safe }}" defer></script>
  <script type="text/javascript" src="{{ get_url(path="js.js") | safe }}" defer></script>
  {% endif %}

</body>

</html>
